html {
  font-size: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: var(--leading-relaxed);
  color: var(--text-color);
  background-color: var(--bkg-color);
  -webkit-font-smoothing: antialiased;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: var(--leading-tight);
  color: var(--text-color);
  margin-top: var(--space-7);
  margin-bottom: var(--space-4);
}

h1 {
  font-family: var(--font-display);
  font-size: var(--text-4xl);
  margin-top: 0;
  color: var(--text-color);
}

h2 {
  font-size: var(--text-xl);
}
home-link
h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-lg);
}

/* Body text */
p {
  margin-bottom: var(--space-5);
  max-width: 65ch;
}

/* Links */
a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}


/* Lists */
ul, ol {
  margin-bottom: var(--space-5);
  padding-left: var(--space-5);
}

li {
  margin-bottom: var(--space-2);
}

li::marker {
  color: var(--color-sepia);
}

/* Blockquotes */
blockquote {
  font-style: italic;
  font-size: var(--text-lg);
  border-left: 3px solid var(--text-color);
  margin: var(--space-6) 0;
  padding: var(--space-4) var(--space-5);
  background-color: var(--color-paper-warm);
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* Horizontal rules */
hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--color-sepia), transparent);
  margin: var(--space-7) auto;
  max-width: 200px;
}

/* Selection */
::selection {
  background-color: var(--color-purple);
  color: var(--bkg-color);
}


/* Fonts */
@font-face {
    font-family: "STAR";
    src: url("/assets/fonts/STAR.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hyperlegible";
    src: url("/assets/fonts/hyperleg-reg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Hyperlegible";
    src: url("/assets/fonts/hyperleg-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Hyperlegible";
    src: url("/assets/fonts/hyperleg-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Hyperlegible";
    src: url("/assets/fonts/hyperleg-bolditalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
