<header class="site-header">
  <div class="header-container">
    <span class="logo-container"><a class="logo" href="/" style="color: var(--color-blue);">Jux</a><a class="logo" href="/" style="color: var(--color-orange);">ta</a><a class="logo" href="/" style="color: var(--color-cyan);">pos</a><a class="logo" href="/" style="color: var(--color-red);">i</a><a class="logo" href="/" style="color: var(--color-purple);">tion</a></span>

    {% include "partials/nav.njk" %}
  </div>
</header>
