<header class="site-header">
  <div class="header-container">
    <a href="/" class="site-logo">
      <span class="logo-text">Juxtaposition</span>
    </a>

    {% include "partials/nav.njk" %}
  </div>
</header>
